@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
*, *::before, *::after{
    touch-action: manipulation; /* disable double touch zoom on touch device */
}
:root{
    --buttonStopwatchStart: #0c5600;
    --buttonStopwatchStartActive: #073300;
    --buttonStopwatchStop: #610000;
    --buttonStopwatchStopActive: #350000;
    --buttonStopWatchReset: #2c2c2c;
    --buttonStopWatchResetClick: #444444;
    --buttonTimerStart: #0c5600;
    --buttonTimerStartActive: #073300;
    --buttonTimerPause: #f48c005e;
    --buttonTimerPauseActive: #715700;
    --buttonTimerCancel: #2c2c2c;
    --buttonTimerCancelClick: #444444;
    --timerSelectedDivHeight: 40px;
    --timerContainerHeight: 300px;
    --toggleHeight: 20px;
    --searchHeight: 30px;
}
html{
    overscroll-behavior-y: none;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #010101;
}
.container{
    max-width: 1080px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
}
h1, h2, h5{
    margin: 0;
    text-align: left;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    /* flex: 1 1 auto; */
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
ul::-webkit-scrollbar{ 
    display: none;
}
button{
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}
p{
    margin: 0;
}
.clock, .stopwatch, .timer, .alarm{
    background-color: #010101;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    min-height: 550px;
    height: 100dvh;
    max-height: 100vh;
    width: 100%;
    display: none;
}
.clock h1, .alarm h1{
    margin-top: 50px;
}
.fade-up{
    position: absolute;
    z-index: 10;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 95%;
    height: 95%;
    max-height: 95%;
    left: 0;
    bottom: -100%;
    transition: bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1) ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    visibility: hidden;
    overflow-x: hidden;
}
.opened{
    bottom: 0;
    visibility: visible;
}
.block-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid transparent;
    transition: visibility 0.5s ease;
}
.block-top.scrolling{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #19191980;
    border-bottom: 1px solid #fefefe25;
}
.block-top .container{
    flex-direction: row;
    width: 100%;
}
.block-top-title{
    visibility: hidden;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.block-top-title.scrolling{
    visibility: visible;
    opacity: 1;
}
.edit, .add{
    background-color: transparent;
    color: #ffa500;
    font-size: 14px;
    line-height: 1;
    padding: 10px 20px;
}
.add{
    font-size: 24px;
}
.item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #767676;
    margin: 0;
    transition: margin 0.5s ease;
}
.item:last-child{
    border-bottom: 1px solid #fefefe75;
    margin-bottom: 60px;
}
#start, #reset, #start-pause, #cancel{
    position: relative;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: background .1s ease-in-out;
}
#start::before, #reset::before, #start-pause::before, #cancel::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid;
    transition: background .1s ease-in-out;
}
.delete-buttons{
    position: relative;
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    max-height: 20px;
    min-height: 20px;
    height: 20px;
    background: #ff1111;
    border-radius: 50%;
    visibility: visible;
    opacity: 1;
    margin-right: 10px;
    transition: all 0.25s ease;
}
.delete-buttons::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    transition: all 0.25s ease;
}
@-webkit-keyframes itemsDeleteButtons {
    from { opacity: 0; min-width: 0; width: 0; max-width: 0; margin-right: 0; }
      to { opacity: 1; min-width: 20px; width: 20px; max-width: 20px; margin-right: 10px; }
}
@keyframes itemsDeleteButtons {
    from { opacity: 0; min-width: 0; width: 0; max-width: 0; margin-right: 0; }
      to { opacity: 1; min-width: 20px; width: 20px; max-width: 20px; margin-right: 10px; }
}
@-webkit-keyframes confirmDelete {
    from { min-width: 0; width: 0; max-width: 0; }
      to { min-width: 100px; width: 100px; max-width: 100px; }
}
@keyframes confirmDelete {
    from { min-width: 0; width: 0; max-width: 0; }
      to { min-width: 100px; width: 100px; max-width: 100px; }
}
.confirm-delete{
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    right: 1px;
    color: #fefefe;
    outline: 1px solid #ff1111;
    background-color: #ff1111;
    transition: all 0.5s ease;
}
.dragging{
    opacity: 1;
    background-color: #fff;
}
/* MAIN  */
.main{
    position: relative;
    min-height: 600px;
    height: 100dvh;
    max-height: 100vh;
    overflow: hidden;
}
.menu{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;    
    background-color: #010101;
    border-top: 1px solid transparent;
    padding: 0;
    margin: 0;
}
.menu.scrolling{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #19191980;
    border-top: 1px solid #fefefe25;
}
.menu .container{
    flex-direction: row;
    width: 100%;
}
.menu-item{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 25%; */
    font-size: 12px;
    color: #ccc;
    background-color: transparent; 
}
.menu-item:first-child{
    padding-left: 20px;
    padding-right: calc(25% - 49px);
}
.menu-item:nth-child(2){
    padding-left: 6%;
    padding-right: calc(19% - 57px);
}
.menu-item:nth-child(3){
    padding-left: calc(19% - 31px);
    padding-right: 6%;
}
.menu-item:last-child{
    padding-left: calc(25% - 52px);
    padding-right: 20px;
}
.menu-item > svg{
    margin-bottom: 5px;
}
.menu-item#timer > svg{
    transform: scale(1.333);
}
.visited{
    color: #ffa500;
}

/* CLOCK */
.clock{
    overflow: hidden;
    --delete-transition: 200ms ease-in-out;
    --remove-confirm-width: 80px;
}
.clock h1{
    margin-bottom: 10px;
    width: 100%;
}
#clock-edit{
    visibility: hidden;
}
.clock-item{
    transition: transform var(--delete-transition);
}
.clock-item.remove-item{
    transform: translateX(30px);
}
.clock-item.removed,
.clock-item.removed .clock-offset,
.clock-item.removed .clock-city,
.clock-item.removed .clock-time,
.clock-item.removed .remove-button{
    transition: all 500ms, font-size 0ms;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.clock-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
}
.clock-offset{
    color: #c9c9c9;
    font-size: 14px;
    display: inherit;
}
.clock-city{
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
}
.clock-time{
    font-size: 30px;
    opacity: 1;
    margin-left: auto;
    transition: opacity var(--delete-transition);
}
.clock-item.remove-item .clock-time{
    opacity: 0;
    font-size: 0;
    margin: 0;
}
.remove-button{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: -30px;
    background-color: #f72f2f;
    border-radius: 100%;
}
.remove-button::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 40%;
    inset: 0;
    margin: auto;
    background-color: #fff;
}
.clock-move{
    position: relative;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    border-top: 1px solid #fefefe75;
    border-bottom: 1px solid #fefefe75;
    margin-right: 0;
    transition: opacity var(--delete-transition), margin var(--delete-transition);
    cursor: pointer;
}
.clock-move::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #fefefe75;
    transform: translateY(-50%);
    cursor: pointer;
}
.clock-item.item.remove-item .clock.move{
    margin-right: 0;
}
.clock-item.remove-item.removing .clock-move{
    margin-right: calc(var(--remove-confirm-width) + 50px);
}
.clock-item.remove-item .clock-move{
    visibility: visible;
    opacity: 1;
    width: 20px;
    height: 10px;
    margin-right: 30px;
}
.remove-confirm{
    position: absolute;
    right: 0;
    width: var(--remove-confirm-width);
    height: 100%;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #f72f2f;
    animation: animateConfirmBtn 500ms;
    transition: width var(--delete-transition), margin var(--delete-transition);
    z-index: 1;
}
.remove-confirm.removing{
    width: 100%;
    color: transparent;
}

.remove-confirm.hide-remove-confirm{
    width: 0;
    margin-right: 0;
    color: transparent;
}
@-webkit-keyframes animateConfirmBtn {
    from {transform: translateX(200%);}
    to {transform: translateX(0);}
}
@keyframes animateConfirmBtn {
    from {transform: translateX(200%);}
    to {transform: translateX(0);}
}
.timezone{
    background-color: #171717;
    --timezone-wrap-height: 100px;
}
.timezone-wrap{
    padding: 20px calc((100vw - 1080px) / 2 + 20px);
    position: absolute;
    left: 0;
    z-index: 5;
    width: 100%;
    height: var(--timezone-wrap-height);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #171717;
    border-bottom: 1px solid transparent;
    transition: background 100ms;
}
.timezone-wrap.scrolling{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #53535375;
    border-bottom: 1px solid #818181;
}
.timezone h5{
    font-size: 14px;
    color: #c9c9c9;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;;
}
.timezone-search-wrap{
    position: relative;
    width: 90%;
}
.timezone-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#search{
    padding: 5px 15px 5px 35px;
    width: 100%;
    min-height: var(--searchHeight);
    height: var(--searchHeight);
    max-height: var(--searchHeight);
    border-radius: 8px;
    border: none;
    outline: none;
    background: #fefefe30;
    color: #fff;
    font-size: 14px;
    caret-color: #ffa500;
}
#search::placeholder{
    color: #c9c9c9;
}
#clear-search-input{
    position: absolute;
    right: 15px;
    cursor: pointer;
    height: 100%;
    width: var(--searchHeight);
    background-color: transparent;
    visibility: hidden;
}
.search-icon, .search-clear-icon{
    position: absolute;
    content: "";
    height: calc(var(--searchHeight) / 2);
    top: 50%;
    transform: translateY(-50%);
    fill: #c9c9c9;
}
.search-icon{
    left: 15px;
    visibility: visible;
}
#search-cancel{
    font-size: 14px;
    background-color: transparent;
    color: #ffa500;
    padding: 10px 0 10px 10px;
}
.timezone-list.no-match > ul {
    border-top: none;
}
.timezone-list{
    position: relative;
    height: 100%;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-padding-top: var(--timezone-wrap-height);
    padding-top: var(--timezone-wrap-height);
}
.timezone-list::-webkit-scrollbar{ 
    display: none;
}
.timezone-list.no-match::before{
    content: "No Results Found";
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
}
.timezone-item{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px calc((100vw - 1080px) / 2 + 20px);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    color: #fff;
    background-color: none;
    transition: background-color 100ms;
    cursor: pointer;
}
.timezone-item:active{
    background-color: #fefefe30;
}
.timezone-item:active::after{
    background-color: transparent;
}
.timezone-item:has(+ .timezone-item:active)::after{
    background: transparent;
}
.timezone-navigation{
    position: absolute;
    right: 5px;
    font-size: 10px;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}
.timezone-navigation-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.timezone-navigation-list li:last-child{
    position: relative;
}
.timezone-navigation-list li:last-child::after{
    position: absolute;
    content: "#";
    line-height: 1;
    font-size: 10px;
    color: #ffa500;
    top: 12px;
    right: 0;
    left: 0;
}
.timezone-navigation a{
    color: #ffa500;
    text-decoration: none;
    line-height: 1.15;
}
.timezone-wrapper{
    margin-bottom: 15px;
}
.timezone-anchor{
    padding: 5px calc((100vw - 1080px) / 2 + 20px);;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #a0a0a0;
    position: relative;
}
.timezone-item::after, .timezone-anchor::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc((100vw - 1080px) / 2 + 20px);
    max-width: 1080px;
    width: calc(100% - ((100% - 1080px) + 40px));
    height: 1px;
    background: #fefefe75;
}
.timezone-fixed-header{
    display: none;
    position: absolute;
    top: var(--timezone-wrap-height);
    left: 0;
    width: 100%;
    padding: 5px calc((100vw - 1080px) / 2 + 20px);
    font-size: 15px;
    font-weight: 500;
    color: #a0a0a0;
    text-align: left;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #53535375;
    border-bottom: 1px solid transparent;
}
.timezone.fade-up .search-icon, .timezone.fade-up #clear-search-input{
    display: none;
}
.timezone.fade-up.opened .search-icon, .timezone.fade-up.opened #clear-search-input{
    display: inline-block;
}
/* STOPWATCH */
.stopwatch-clock{
    padding: 50px 0;
    width: 100%;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}
.stopwatch-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    padding-bottom: 25px;
    border-bottom: 1px solid #fefefe75;
}
.laps li{
    font-size: 20px;
    border-bottom: 1px solid #fefefe75;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.laps li:last-child{
    margin-bottom: 60px;
}
#start{
    background-color: var(--buttonStopwatchStart);
    color: #20f000;
    margin-left: 1px;
}
#start::before{
    border-color: var(--buttonStopwatchStart);
}
#start.stop{
    background-color: var(--buttonStopwatchStop);
    color: #ff1111;
}
#start.stop::before{
    border-color: var(--buttonStopwatchStop);  
}
#start:active{
    background-color: var(--buttonStopwatchStartActive);
}
#start:active::before{
    border-color: var(--buttonStopwatchStartActive);
}
#start.stop:active{
    background-color: var(--buttonStopwatchStopActive)
}
#start.stop:active::before{
    border-color: var(--buttonStopwatchStopActive);
}
#reset{
    background-color: var(--buttonStopWatchReset);
    color: #c9c9c9;
    margin-right: 1px;
}
#reset:before{
    border-color: var(--buttonStopWatchReset);
}
#reset.lap{
    background-color: var(--buttonStopWatchResetClick);
}
#reset.lap::before{
    border-color: var(--buttonStopWatchResetClick);
}
#reset:active{
    background-color: #242424;
}
#reset:active::before{
    border-color: #242424;
}
#reset.lap:active{
    background-color: var(--buttonStopWatchReset);
}
#reset.lap:active::before{
    border-color: var(--buttonStopWatchReset);
}

/* TIMER */
.timer{
    line-height: 1;
    --strokeOffset: 0;
    visibility: hidden;
    display: block;
    min-height: 0;
    height: 0;
    max-height: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes animateProgress {
    from { stroke-dashoffset: var(--strokeOffset); }
      to { stroke-dashoffset: 282.78302001953125; }
}
@keyframes animateProgress {
    from { stroke-dashoffset: var(--strokeOffset); }
      to { stroke-dashoffset: 282.78302001953125; }
}

.timer-clock{
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    min-width: 250px;
    max-height: 300px;
    min-height: 250px;
    font-size: 32px;
    color: #fff;
    margin: 20px auto 0;    
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.progress-circle{
    position: absolute;
    display: flex;
    vertical-align: bottom;
    width: 100%;
}
.progress-circle circle{
    stroke: rgba(255, 255, 255, 0.25);
    stroke-width: 3px;
    stroke-dasharray: 0;
    fill: none;
}
.progress-circle .meter{
    stroke-width: 3px;
    stroke: #ffa500;
    fill: none;
    transform-origin: center center;
    transform: rotate(-90deg) scaleX(-1);
}

.millisecond {
    display: none;
}

.timer-container{
    position: relative;
    user-select: none;
    background-color: #010101;
    color: #fff;
    overflow: hidden;
    margin-top: 20px;
}
.shadow{
    background-color: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}
.shadow.top{
    box-shadow: 0px 0px 40px 40px #010101;
    height: 5px;
    top: 0;
    background-color: #010101;
}
.shadow.bottom{
    box-shadow: 0px 0px 40px 40px #010101;
    height: 5px;
    bottom: 0;
    background-color: #010101;
}
.selected{
    position: absolute;
    width: 85%;
    min-height: var(--timerSelectedDivHeight);
    height: var(--timerSelectedDivHeight);
    max-height: var(--timerSelectedDivHeight);
    left: 0;
    right: 0;
    top: calc((var(--timerContainerHeight) / 2) - (var(--timerSelectedDivHeight) / 2));
    margin: 0 auto;
    background: #ffffff17;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.333%;
    --hoursText: "hours";
}
.wrap:first-of-type{
    padding-left: 0.5%;
}
.wrap:last-of-type{
    padding-right: 0.5%;
}
.wrap::before{
    position: absolute;
    min-height: var(--timerSelectedDivHeight);
    height: var(--timerSelectedDivHeight);
    max-height: var(--timerSelectedDivHeight);
    font-size: 20px;
    line-height: var(--timerSelectedDivHeight);
    left: calc(50% + (var(--timerSelectedDivHeight) / 2));
    top: calc(50% - (var(--timerSelectedDivHeight) / 2));
}
.wrap:nth-of-type(1):before{
    content: var(--hoursText);
}
.wrap:nth-of-type(2)::before{
    content: "min";
}
.wrap:nth-of-type(3)::before{
    content: "sec";
}
.box{
    display: flex;
    justify-content: space-between;
    min-height: var(--timerContainerHeight);
    height: var(--timerContainerHeight);
    max-height: var(--timerContainerHeight);
}
.scroll{
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 16px;
}
.scroll::-webkit-scrollbar{ 
    display: none;
}
.scroll li{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--timerSelectedDivHeight);
    height: var(--timerSelectedDivHeight);
    max-height: var(--timerSelectedDivHeight);
    min-width: var(--timerSelectedDivHeight);
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    scroll-snap-align: center;
    transition: opacity 200ms ease-in-out;
}
.scroll li:first-of-type{
    margin-top: calc((var(--timerContainerHeight) / 2) - (var(--timerSelectedDivHeight) / 2));
    position: relative;
}
.scroll li:last-of-type{
    margin-bottom: calc((var(--timerContainerHeight) / 2) - (var(--timerSelectedDivHeight) / 2));
}
.active{
    font-size: 24px;
    opacity: 0.8;
}
.active ~ li {
    font-size: 22px;
}
.active ~ li ~ li {
    font-size: 20px;
}
.active ~ li ~ li ~ li {
    font-size: 18px;
}
.active ~ li ~ li ~ li ~ li{
    font-size: 16px;
}
/* .previous:has(+ next) */
.scroll li:has(+ .active){
    font-size: 22px;
}
.scroll li:has(+ li + .active){
    font-size: 20px;
}
.scroll li:has(+ li + li + .active){
    font-size: 18px;
}
.scroll li:has(+ li + li  + li + .active){
    font-size: 16px;
    /* transform: perspective(3px) rotateX(5deg); USE SKEWX */
}
.scroll li:not(.active){
    opacity: 0.5;
}

.timer-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 20px;
}

#start-pause{
    background-color: var(--buttonTimerStart);
    color: #20f000;
    margin-left: 10px;
}
#start-pause::before{
    border-color: var(--buttonTimerStart);
}
#start-pause:active{
    background-color: var(--buttonTimerStartActive);
}
#start-pause:active::before{
    border-color: var(--buttonTimerStartActive);
}
#start-pause.pause{
    background-color: var(--buttonTimerPause);
    color: #ffa500;
}
#start-pause.pause::before{
    border-color: var(--buttonTimerPause);
}
#start-pause.pause:active{
    background-color: var(--buttonTimerPauseActive);
}
#start-pause.pause:active::before{
    border-color: var(--buttonTimerPauseActive);
}
#cancel{
    background-color: var(--buttonTimerCancel);
    color: #c9c9c9;
    margin-right: 10px;
}
#cancel::before{
    border-color: var(--buttonTimerCancel);
}
#cancel:active{
    background-color: #242424;
}
#cancel:active::before{
    border-color: #242424;
}
#cancel.cancel{
    background-color: var(--buttonTimerCancelClick);
}
#cancel.cancel::before{
    border-color: var(--buttonTimerCancelClick);
}
#cancel.cancel:active{
    background-color: #242424;
}
#cancel.cancel:active::before{
    border-color: #242424;
}

#timer_action{
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 7vmin;
    padding: 20px;
    background-color: #171717;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.timer_action-heading, .timer_action-label{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
}
.timer_action-heading{
    color: #fff;
}
.timer_action-label{
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding-right: 15px;
}
.timer_action-label::after{
    --width: 7px;
    position: absolute;
    content: "";
    width: var(--width);
    aspect-ratio: 1 / 1;
    right: 0;
    top: calc(50% - (var(--width) / 2));
    border: solid rgba(255, 255, 255, 0.3);
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* ALARM */
.alarm{
    overflow: hidden;
}
.alarm h1{
    width: 100%;
}
.alarm h2{
    width: 100%;
    margin-bottom: 10px;
}
.alarm .alarm-list svg{
    margin-right: 5px;
}
.alarm .alarm-list svg path{
    fill: #fff;
}
.alarm-time{
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.alarm-time span{
    font-size: 12px;
}
/* .previous:has(+ next) */
.alarm-time:has(+ .alarm-toggle.toggle) {
    color: rgba(255, 255, 255, 0.95);
}
.alarm-toggle{
    width: calc((var(--toggleHeight) * 2) - (var(--toggleHeight) * 0.25));
    height: var(--toggleHeight);
    position: relative;
    border-radius: 10px;
    background-color: #2c2c2c;
    transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1), margin 0.5s ease;
}
.alarm-toggle.toggle{
    background-color: #16a200;
}
.alarm-toggle .circle{
    width: calc(var(--toggleHeight) - 3px);
    height: calc(var(--toggleHeight) - 3px);
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.alarm-toggle.toggle .circle{
    left: calc((100% - var(--toggleHeight)));
}
.alarm-popup{
    background-color: #171717;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.alarm-popup::-webkit-scrollbar{
    display: none;
}
.alarm-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.alarm .shadow.top, .alarm .shadow.bottom {
    box-shadow: 0px 0px 39px 40px #171717;
    background-color: #171717;
}
.alarm-select{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    position: relative;
    min-height: var(--timerContainerHeight);
    height: var(--timerContainerHeight);
    max-height: var(--timerContainerHeight);
}
#alarm-select-hour, #alarm-select-minute{
    max-height: 300px;
    width: 50%;
    overflow-y: scroll;
    font-size: 16px;
}
#alarm-edit{
    visibility: hidden;
    color: #ffa500;
}
#alarm-edit.toggle-edit{
    visibility: visible;
}
#alarm-cancel, #alarm-save{
    padding: 10px 20px;
    background-color: transparent;
    color: #ffa500;
    font-size: 14px;
}
.alarm .clone{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
}
.alarm .clone span{
    display: flex;
    align-items: center;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    font-size: 20px;
}
.alarm .clone.upper{
    flex-direction: column;
    margin-top: 50px;
}
.alarm .clone.upper span:first-of-type{
    font-size: 18px;
}
.alarm .clone.upper span:last-of-type{
    font-size: 22px;
}
.alarm .clone.bottom{
    flex-direction: column;
    margin-top: -10px;
}
.alarm .clone.bottom span:first-of-type{
    font-size: 22px;
}
.alarm .clone.bottom span:last-of-type{
    font-size: 18px;
}
.alarm .scroll li:first-of-type{
    margin-top: 0;
}
.alarm .scroll div:last-of-type, .alarm .scroll li:last-of-type{
    margin-bottom: 10px;
}
.alarm-options{
    display: flex;
    flex-direction: column;
    background-color: #2C2C2C;
    margin: 5rem 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.alarm-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.alarm-form label{
    padding-right: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}
#alarm-input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    text-align: right;
    caret-color: #ffa500;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
#alarm-input::placeholder{
    color: rgba(255, 255, 255, 0.3);
}
.alarm-input-clear{
    display: none;
    align-self: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: transparent;
}
.alarm-input-clear svg{
    width: 100%;
    height: 100%;
}
.alarm-input-clear svg path{
    fill: rgba(255, 255, 255, 0.1);
}
.alarm-sound{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
.alarm-sound span{
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding-right: 10px;
}
.alarm-sound span::after{
    --width: 7px;
    position: absolute;
    content: "";
    width: var(--width);
    aspect-ratio: 1 / 1;
    right: 0;
    top: calc(50% - (var(--width) / 2));
    border: solid rgba(255, 255, 255, 0.3);
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#alarm_complete{
    --completeHiddenValue: -300px;
    position: fixed;
    z-index: 15;
    top: var(--completeHiddenValue);
    left: 0;
    width: calc(100% - 30px);
    height: 65px;
    margin: 10px 15px;
    padding: 5px;
    background-color: #2c2c2c;
    background-color: rgb(44, 44, 44, 0.83);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    transition: top 0.25s ease-in-out;
}
#alarm_complete img{
    width: 30px;
    aspect-ratio: 1 / 1;
    margin-left: 2vmin;
}
.alarm_complete-text_wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 3vmin;
    text-align: left;
}
#alarm_complete-heading{
    margin-bottom: 2px;
}
#alarm_complete-label{
    font-size: 12px;
}
#alarm_complete-close_button{
    margin-left: auto;
    height: 100%;
    padding: 5px;
    padding-right: 2vmin;
    color: #ffa500;
    font-size: 24px;
}

/* SET SOUND */
.set_sound{
    background-color: #171717;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 0;
    height: 0;
    min-height: 0;
    padding-bottom: 10px;
    z-index: -1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 15px 15px 0 0;
    transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
    text-align: left;
    width: 100%;
    height: 95%;
    min-height: 95%;
    z-index: 10;
}
.alarm .set_sound{
    top: 5%;
    left: 100%;
}
.timer .set_sound{
    top: 100%;
    left: 0;
}
.set_sound::-webkit-scrollbar{ 
    display: none;
}
.set_sound-buttons{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #171717;
    border-bottom: 1px solid transparent;
    padding: 10px 0;
}
.set_sound-buttons #back_button, .set_sound-buttons #cancel_button, .set_sound-buttons #set_button{
    color: #ffa500;
    text-align: left;
    font-size: 14px;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
}
.set_sound-buttons #back_button{
    margin-left: 20px;
}
.set_sound-buttons #set_button{
    margin-left: auto;
}
.set_sound-buttons #back_button::before{
    --width: 10px;
    position: absolute;
    content: "";
    width: var(--width);
    aspect-ratio: 1 / 1;
    border: solid #ffa500;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    z-index: 1;
    left: 3px;
    top: calc(50% - (var(--width) / 2));
}
.set_sound-buttons.scrolling{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #19191980;
    border-bottom: 1px solid #fefefe25;
}
.set_sound-buttons h2{
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.set_sound h3{
    color: rgba(255, 255, 255, 0.5);
    margin: 10px 20px;
    padding-left: 20px;
    font-size: 14px;
}
.set_sound-ringtones{
    background-color: #2C2C2C;
    border-radius: 10px;
    height: auto;
    margin: 0 20px;
}
.set_sound-ringtones li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
}
.set_sound-check_icon{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    visibility: hidden;
}
.set_sound-ringtones li:first-child .set_sound-check_icon{
    visibility: visible;
}
.set_sound-ringtones li button{
    width: 100%;
    text-transform: capitalize;
    text-align: left;
    padding: 15px 0 15px 0;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.set_sound-ringtones li:last-of-type{
    border-bottom: none;
}
.set_sound #button_none{
    display: flex;
    align-items: center;
    background-color: #2C2C2C;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    padding: 10px 0;
    width: calc(100% - 40px);
    margin: 10px 20px;
    text-align: left;
    border-radius: 10px;
}
.set_sound #button_none svg{
    visibility: hidden;
}

/* MEDIA */
@media screen and (min-width: 1080px) {
    .edit{
        margin-left: -20px;
    }
    .add{
        margin-right: -20px;
    }
    .timezone-navigation{
        right: calc(((100vw - 1080px) / 2) / 2);
    }
}

@media screen and (max-width: 1080px) {
    .timer{
        padding: 0;
    }
    .timezone-wrap{
        padding: 20px;
    }
    .timezone-fixed-header{
        padding: 5px 20px;
    }
    .timezone-item{
        padding: 10px 20px;
    }
    .timezone-anchor{
        padding: 5px 20px;
    }
    .timezone-item::after, .timezone-anchor::after{
        left: 20px;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 780px) {
    .box{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 565px) {
    .menu-item{
        width: 25%;
    }
    .menu-item:first-child{
       padding: 0;
    }
    .menu-item:nth-child(2){
       padding: 0;
    }
    .menu-item:nth-child(3){
        padding: 0;
    }
    .menu-item:last-child{
        padding: 0;
    }
    .timer-clock{
        width: 30dvh;
    }
    .box{
        width: 80%;
    }
    .selected{
        width: 90%;
    }
}

/* .delete-buttons ~ .alarm-toggle, .delete-buttons ~ .alarm-toggle > .circle {
    background-color: transparent;
    cursor: default;
}
.alarm-item-arrow {
    position: absolute;
    border-top: 2px solid #fefefe75;
    border-right: 2px solid #fefefe75;
    border-radius: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 10px;
    transition: all 0.1s ease;
} */